@import "../../styles/common/variables.scss";

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  color: map-get($colors, light);
  background-color: map-get($colors, neutral600);
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: map-get($font-weights, bold);
  line-height: normal;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 0.8rem;
  }

  &--primary {
    background-color: map-get($colors, primary);
  }

  &--dark {
    background-color: map-get($colors, neutral900);
  }
}
