@import "./mixins.scss";

$colors: (
  primary: #5ba4a4,
  neutral100: #effafa,
  neutral300: #eef6f6,
  neutral600: #7b8e8e,
  neutral900: #2c3a3a,
  light: #ffffff,
);

$font-size: (
  base: 1.5rem,
);

$font-weights: (
  medium: 500,
  bold: 700,
);

$breakpoints: (
  xl: 1280px,
  lg: 1024px,
  md: 768px,
  sm: 576px,
  xs: 420px,
);
